.product{
    &-card{
        
        width: 180px;
        height: 460px;
        padding: 0;
        margin:10px;
        font-size: 12px;
        &-list{
            display: flex;
            flex-wrap: wrap;
        }
        &--goods-info-box{
            height: 335px;
        }
        &--img{
            width: 180px;
            height: 230px;
        }
        &--price{
            &-info{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 2px;
            }
            &--normal-price{
                font-size: 15px;
            }
            &-sale-price{
                font-size:15px;
            }
        }
        &--brand-name{
            width:100px;
            text-align: center;
            padding: 5px;
            color: $--light-gray1;
            border: 1px solid;
            border-radius: 15px;
            border-color: $--light-gray3;
        }
        &--kauf-box{
            height: 35px;
            display:flex;
            flex-direction: row;
        }
        &--kauf-info{
            &--only{
                width: 30px;
                height:18px;
                text-align: center;
                padding: 5px;
                margin: 1px;
                color: white;
                background-color: rgb(72, 145, 120);
            }
            &--soldout{
                width: 30px;
                height:18px;
                text-align: center;
                padding: 5px;
                margin: 1px;
                color: white;
                background-color: rgb(109, 0, 0);
            }
        }
    }

}

.sold-out{
    &--true{
        display: none;
    }
}
.is-sold-out{
    &--true{
        display: block;
    }
    &--false{
        display: none;
    }
}
.is-sale{
    &--true{
        color: brown;
        font-size: 13px;
        font-weight: 700;
    }
    &--false{
        display:none;
    }
}
.saleprice{
    &--false{
        display: none;
    }
}
.normalprice{
    &--true{
        color: $--light-gray3;
        text-decoration: line-through;
    }
}
.is-exclusive{
    &--true{
        display:block;
    }
    &--false{
        display:none;
    }
}