.product{
    &-card{
        width: 180px;
        height: 460px;
        padding: 0;
        margin:10px;
        font-size: 12px;
        &--goods-info-box{
            height: 335px;
        }
        &--img{
            width: 180px;
            height: 230px;
        }
        &--price{
            &-info{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            &-saleprice{
                margin: 0;
            }
        }
        &--brand-name{
            width: 100px;
            text-align: center;
            color: #000000;
            padding: 3px;
            border: 1px solid;
            border-radius: 15px;
            border-color: $--light-gray3;
        }
        &--kauf-box{
            display:flex;
            flex-direction: column;
        }
        &--kauf-info{
            &--only{
                width: 30px;
                text-align: center;
                padding: 5px;
                margin: 1px;
                color: white;
                background-color: rgb(72, 145, 120);
            }
            &--soldout{
                width: 30px;
                text-align: center;
                padding: 5px;
                margin: 1px;
                color: white;
                background-color: rgb(109, 0, 0);
            }
        }
    }

}

.sold-out{
    &--true{
        display: none;
    }
}
.is-sold-out{
    &--true{
        display: block;
    }
    &--false{
        display: none;
    }
}
.is-exclusive{
    &--true{
        display:block;
    }
    &--false{
        display:none;
    }
}